<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="layout::head">
<meta charset="UTF-8">

<link rel="stylesheet" href="https://code.jquery.com/ui/1.13.1/themes/base/jquery-ui.css">
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://code.jquery.com/ui/1.13.1/jquery-ui.min.js"></script>

</head>

<body>

<script th:src="@{/js/web/entidad/frmentidad.js}" type="text/javascript"></script>
	
<nav th:insert="layout::menu"></nav>
	
<div th:fragment="Modal_user_create" class="container p-3">

	<div class="container_title_user">
		<div class="text-center">
			<i class='fa fa-leaf  fa-2x text-success'></i> <span class="h1 fw-bold mb-0">Entidad</span>
		</div>
	</div>

	<br>

	<div class="d-flex justify-content-between align-items-center">
	    <form class="form-inline">
		    <div class="form-group">
		        <div class="input-group">
		            <select id="cmbentidades" class="form-control">
					    <option value="">Seleccione una entidad</option>
					</select>
		
		            <div class="input-group-append">
		                <button type="button" id="btnbuscar" class="btn btn-primary">Buscar</button>
		            </div>
		        </div>
		    </div>
		</form>


	    <button type="button" id="btnagregar" class="btn btn-success" data-bs-toggle="modal" 
		        	data-bs-target="#exampleModal" data-bs-whatever="@mdo" style="font-weight: bold;">Agregar Entidad
		</button>
	</div>
	 
	<br>
	
	<div style="overflow:auto; height: 500px;">
		<table class="table table-striped table-hover" id="tblentidad">
			<thead class="table-dark text-center">
				<tr>
					<th scope="col">Id</th>
					<th scope="col">Entidad</th>
					<th scope="col">Nombre</th>
					<th scope="col">Tipo</th>
					<th scope="col">Dirección</th>
					<th scope="col">Correo</th>
					<th scope="col">Teléfono</th>
					<th scope="col">Notas</th>
					<th scope="col">Actualizar</th>
					<th scope="col">Eliminar</th>
				</tr>
			</thead>
			<tbody align="center">
				<tr th:each="entidad : ${listaentidades}">
					<td th:text="${entidad.identidad}"></td>
					<td th:text="${entidad.entidad}"></td>
					<td th:text="${entidad.nombreEntidad}"></td>
					<td th:text="${entidad.tipo}"></td>
					<td th:text="${entidad.direccion}"></td>
					<td th:text="${entidad.correo}"></td>
					<td th:text="${entidad.telefono}"></td>
					<td th:text="${entidad.notas}"></td>
				
					<td>
						<button type="button" class="btn btn-success btnactualizarentidad"
						 	th:data-identidad="${entidad.identidad}"
						    th:data-entidad="${entidad.entidad}"
						    th:data-nombreEntidad="${entidad.nombreEntidad}"
						    th:data-tipo="${entidad.tipo}"
						    th:data-direccion="${entidad.direccion}"
						    th:data-correo="${entidad.correo}"
						    th:data-telefono="${entidad.telefono}"
						  	th:data-notas="${entidad.notas}">
						    <i class="fas fa-pencil-alt"></i>
						</button>
					</td>
						
					<td>
						<button type="button" class="btn btn-danger btneliminaridentidad"
								th:data-identidad="${entidad.identidad}"
								th:data-entidad="${entidad.entidad}">
								<i class="fas fa-trash-alt"></i>
						</button>
					</td>
					
				</tr>
			</tbody>	
		</table>
	</div>
</div>



<div class="modal fade" id="modalEntidad" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h1 class="modal-title fs-5 fw-bolder" id="exampleModalLabel">Mantenimiento de Entidad</h1>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<div class="mb-3">
					<label for="txtentidad" class="form-label fw-bolder">Entidad</label>
					<input type="text" class="form-control fw-bolder" id="txtentidad" placeholder="Ingresa Entidad">
				</div>
				<div class="mb-3">
					<label for="txtnombreentidad" class="form-label fw-bolder">Nombre Entidad</label>
					<input type="text" class="form-control fw-bolder" id="txtnombreentidad" placeholder="Ingresa Nombre Entidad">
				</div>
				<div class="mb-3">
					<label for="txttipo" class="form-label fw-bolder">Tipo</label>
					<input type="text" class="form-control fw-bolder" id="txttipo" placeholder="Ingresa Tipo">
				</div>
				<div class="mb-3">
					<label for="txtdireccion" class="form-label fw-bolder">Dirección</label>
					<input type="text" class="form-control fw-bolder" id="txtdireccion" placeholder="Ingresa Dirección">
				</div>
				<div class="mb-3">
					<label for="txtcorreo" class="form-label fw-bolder">Correo</label>
					<input type="email" class="form-control fw-bolder" id="txtcorreo" placeholder="Ingresa Correo">
				</div>
				<div class="mb-3">
					<label for="txttelefono" class="form-label fw-bolder">Teléfono</label>
					<input type="text" class="form-control fw-bolder" id="txttelefono" placeholder="Ingresa Teléfono">
				</div>
				<div class="mb-3">
					<label for="txtnotas" class="form-label fw-bolder">Notas</label>
					<textarea class="form-control fw-bolder" id="txtnotas" rows="3" placeholder="Ingresa Notas"></textarea>
				</div>
				<input type="hidden" id="hddidregistroentidad">
			</div>
			<div class="modal-footer d-flex justify-content-center">
				<button type="button" class="btn btn-dark fw-bolder" data-bs-dismiss="modal">Salir</button>
				<button type="button" class="btn btn-danger fw-bolder" id="btnguardar">Guardar</button>
			</div>
		</div>
	</div>
</div>








<div class="modal fade" id="modalEliminarEntidad" tabindex="-1"
    aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5 fw-bolder" id="exampleModalLabel">
                    Eliminar Entidad</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal"
                    aria-label="Close"></button>
            </div>
            <div class="modal-body fw-bolder">
                <label id="mensajeeliminar"></label> <input type="hidden"
                    id="hddideliminarentidad" value="0">
            </div>
            <div class="modal-footer d-flex justify-content-center">
                <button type="button"class="btn btn-dark fw-bolder"
                    data-bs-dismiss="modal">Salir</button>
                <button type="button" class="btn btn-danger fw-bolder" id="btneliminar">Eliminar</button>
            </div>
        </div>
    </div>
</div>


<footer th:insert="layout::footer"></footer>


</body>
</html>
