<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="layout::head">
<meta charset="UTF-8">
</head>
<body>
	<nav th:insert="layout::menu"></nav>
	
	<div th:fragment="Modal_user_create" class="container p-3">
		<div class="container_title_user">
			<div class="text-center">
				<i class='fa fa-leaf  fa-2x text-success'></i> 
				<span class="h1 fw-bold mb-0">Nueva Recepcion</span>
			</div>
		</div>
		
		<br>
		
			<div class="d-flex justify-content-center align-items-center">
			    <div class="row">
			        <div class="col-md-1">
			            <label class="form-label">Orden</label>
			            <input name="txtOrden" type="text" class="form-control" value="001" disabled="disabled">
			        </div>
			        <div class="col-md-3">
			            <label class="form-label">Tipo Movimiento</label>
			            <select class="form-control" name="cboMovimiento">
			                <option>Recepción Proveedor</option>
			                <option>Recepción Aduanera</option>
			                <option>Devolución de Cliente</option>
			            </select>
			        </div>
			        <div class="col-md-2">
			            <label class="form-label">Fecha Movimiento</label>
			            <input name="txtFechaMov" id="inputFechaMov" type="date" class="form-control" value="">
			        </div>
			        <div class="col-md-2">
			            <label class="form-label">Entidad</label>
			            <select class="form-control" name="cboentidad">
			                <option>Selecciona</option>
			                <option>@Ruc de entidades</option>
			            </select>
			        </div>
			        <div class="col-md-4 align-self-start">
			            <label class="form-label">&nbsp;</label>
			            <input type="text" class="form-control entidadName" value="Nombre de entidad" name="nomEntidad" disabled="disabled">
			        </div>
			        
					
			        <div class="col-md-3">
				        <label class="form-label">Sucursal</label>
				        <select class="form-control" name="cbosucursal">
				            <option>Selecciona</option>
				            <option>@todas las sucursales de la entidad</option>
				        </select>
				   </div>
				   
				    <div class="col-md-1">
				        <label class="form-label">DR</label>
				        <select class="form-control" name="cboDocRemision">
				            <option>DR</option>
				            <option value="GR">GR&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;GUIA DE REMISION&nbsp;&nbsp;&nbsp;&nbsp;</option>
				            <option value="DUA">DUA&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;DECLARACION ADUANERA&nbsp;&nbsp;&nbsp;&nbsp;</option>
				            <option value="FR">FR&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;FECHA DE RECEPCION&nbsp;&nbsp;&nbsp;&nbsp;</option>
				        </select>
				    </div>
	    
			     <div class="col-md-2">
			        <label class="form-label">&nbsp;</label>
			        <input id="inputDocumento" type="text" class="form-control" name="txtNumDoc" value="005-23682">
			    </div>
			    
			    <div class="col-md-6">
			        <label class="form-label">Notas</label>
			    	<div class="input-group">
			        	<input name="txtNotas" type="text" value="Notas" class="form-control">
			        </div>
	    		</div>
	    		
			 </div>
	    
		</div>
		
		<br>
		

		
		<div style="max-height: 300px; overflow: auto;">
		
			<table class="table table-striped table-hover table-sm text-center" id="tblentidad">
    		<thead class="table-dark">
		        <tr>
		            <th scope="col">#</th>
		            <th scope="col">Producto</th>
		            <th scope="col">Nombre Producto</th>
		            <th scope="col">Entrada</th>
		            <th scope="col">Ubicación</th>
		            <th scope="col">Lote</th>
		            <th scope="col">Fecha Fab.</th>
		            <th scope="col">Fecha Venc.</th>
		            <th scope="col">Estado</th>
		            <th scope="col"></th> <!-- Columna adicional para el botón de eliminar -->
		        </tr>
    		</thead>
    		<tbody>
		        <tr>
		            <td>1</td>
		            <td>
		                <select class="form-control select2" name="producto">
		                    <option value="">Selecciona un producto</option>
		                    <option value="producto1">Producto 1</option>
		                    <option value="producto2">Producto 2</option>
		                    <option value="producto3">Producto 3</option>
		                    <!-- Agrega aquí más opciones de productos -->
		                </select>
		            </td>
		            <td>Nombre del producto 1</td>
		            <td><input type="text" class="form-control form-control-sm" name="entrada" size="5"></td>
		            <td><input type="text" class="form-control form-control-sm" name="ubicacion"></td>
		            <td><input type="text" class="form-control form-control-sm" name="lote"></td>
		            <td>12/10/2019</td>
		            <td>12/10/2023</td>
		            <td><input type="text" class="form-control form-control-sm" name="estado"></td>
		            <td>
		                <button class="btn btn-danger btn-sm" onclick="eliminarFila(this)"><i class="fas fa-trash-alt" ></i></button>
		            </td>
        		</tr>
    		</tbody>
		</table>


	</div>


	<div class="button-container fixed-bottom mb-5">
	    <div class="d-flex justify-content-center mt-4 mb-2">
	    	<button id="agregarFila" class="btn btn-success ms-2">Agregar Fila</button>
	        <button class="btn btn-primary ms-2">Aceptar</button>
	        <button class="btn btn-danger ms-2">Cancelar</button>
	    </div>
	</div>
	
	
</div>
		

		
	<footer th:insert="layout::footer"></footer>

<script>
var filaCount = 1;

document.getElementById('agregarFila').addEventListener('click', function() {
        var table = document.getElementById('tblentidad');
        var tbody = table.getElementsByTagName('tbody')[0];
        var newRow = document.createElement('tr');
        newRow.innerHTML = `
            <td>${++filaCount}</td>
            <td>
                <select class="form-control select2" name="producto">
                    <option value="">Selecciona un producto</option>
                    <option value="producto1">Producto 1</option>
                    <option value="producto2">Producto 2</option>
                    <option value="producto3">Producto 3</option>
                    <!-- Agrega aquí más opciones de productos -->
                </select>
            </td>
            <td>Nombre del producto ${filaCount}</td>
            <td><input type="text" class="form-control form-control-sm" name="entrada" size="5"></td>
            <td><input type="text" class="form-control form-control-sm" name="ubicacion"></td>
            <td><input type="text" class="form-control form-control-sm" name="lote"></td>
            <td>Fecha de Fab. ${filaCount}</td>
            <td>Fecha de Venc. ${filaCount}</td>
            <td><input type="text" class="form-control form-control-sm" name="estado"></td>
            <td>
                <button class="btn btn-danger btn-sm" onclick="eliminarFila(this)"><i class="fas fa-trash-alt" ></i></button>
            </td>
        `;
        tbody.appendChild(newRow);
    });

    function eliminarFila(button) {
        var row = button.parentNode.parentNode;
        var tbody = row.parentNode;
        tbody.removeChild(row);
        actualizarNumerosFila(tbody);
    }

    function actualizarNumerosFila(tbody) {
        var filas = tbody.getElementsByTagName('tr');
        for (var i = 0; i < filas.length; i++) {
            filas[i].getElementsByTagName('td')[0].innerText = i + 1;
        }
        filaCount = filas.length;
    }



</script>
    	
</body>
</html>