.btn_modal_user>button {
	width: 200px;
	gap: 15px;
}

.container_title_user {
	display: flex;
	justify-content: space-between;
	align-items: end;
}

.search_users {
	margin: 12px 0px;
}

.body_dashboard {
	background-repeat: no-repeat;
	background-size: cover;
	background-image:
		url("https://cdn.pixabay.com/photo/2019/09/12/06/05/beet-4470670_1280.jpg");
}

.ui-helper-hidden-accessible {
	display: none;
}

.custom-autocomplete-results {
  width: 300px;
  margin-top:15px;
  max-width: 100%;
  max-height:300px; 
  overflow:auto;
}

.custom-autocomplete-results li {
  /* Estilos adicionales para los elementos de la lista */
}