<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head">
	<meta charset="UTF-8">
	
	<title>ADAMA</title>
	<link  th:href="@{/css/usuarioestilos/usuario.css}" type="text/css" rel="stylesheet">
		<link th:href="@{/css/bootstrap/bootstrap.min.css}" rel="stylesheet">
	<link th:href="@{/css/fontawesome/all.css}" rel="stylesheet">
	<script th:src="@{/js/bootstrap/bootstrap.bundle.js}"
		type="text/javascript"></script>
	<script th:src="@{/js/jquery/jquery.js}" type="text/javascript"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<link th:href="@{/css/custom.css}" rel="stylesheet">
	
</head><
<body>

	<nav th:fragment="menu" class="navbar navbar-expand-lg navbar-dark bg-success">
		<div class="container-fluid">
        <a class="navbar-brand fw-bolder" href="#">
            <img src="../img/logo.svg" alt="Logo" style="height: 35px; margin-left: 110px;">
        </a>
			<button class="navbar-toggler" type="button"
				data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
				aria-controls="navbarSupportedContent" aria-expanded="false"
				aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse justify-content-center"
				id="navbarSupportedContent">
				<ul class="navbar-nav gap-5">
					<li class="nav-item dropdown"><a
						class="nav-link dropdown-toggle fw-bolder" href="#"
						id="navbarDropdownMenuLink" role="button"
						data-bs-toggle="dropdown" aria-expanded="false">Sesion</a>
						<ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
							<li><a class="dropdown-item fw-bolder" th:href="@{/usuario/usuario}">Usuario</a></li> 
							<li><a class="dropdown-item fw-bolder" th:href="@{/login}">Cerrar Sesión</a></li>
 
						</ul></li>
					<li class="nav-item dropdown"><a
						class="nav-link dropdown-toggle fw-bolder" href="#"
						id="navbarDropdownMenuLink" role="button"
						data-bs-toggle="dropdown" aria-expanded="false">Mantenciones</a>
						<ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
							<li><a class="dropdown-item fw-bolder"th:href="@{/producto/frmproducto}">Producto</a></li>
							<li><a class="dropdown-item fw-bolder" th:href="@{/entidad/frmentidad}">Entidad</a></li>
							<li><a class="dropdown-item fw-bolder" th:href="@{/sucursal/frmsucursal}">Sucursal</a></li>
							<li><hr class="dropdown-divider"></li>
							<li><a class="dropdown-item fw-bolder" th:href="@{/lote/frmlote}">Lote</a></li>
							<li><a class="dropdown-item fw-bolder" th:href="@{/ubicacion/frmubicacion}">Ubicacion</a></li>
							<li><a class="dropdown-item fw-bolder" th:href="@{/estado/frmestado}">Estado</a></li>
						</ul></li>
					<li class="nav-item dropdown"><a
						class="nav-link dropdown-toggle fw-bolder" href="#"
						id="navbarDropdownMenuLink" role="button"
						data-bs-toggle="dropdown" aria-expanded="false">Transacciones</a>
						<ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
							<li><a class="dropdown-item fw-bolder"
								th:href="@{/recepcion/orden_recepcion}">Recepcion</a></li>
						</ul>
					</li>
					<li class="nav-item dropdown"><a
						class="nav-link dropdown-toggle fw-bolder" href="#"
						id="navbarDropdownMenuLink" role="button"
						data-bs-toggle="dropdown" aria-expanded="false">Consultas</a>
						<ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
							<li><a class="dropdown-item fw-bolder"
								th:href="@{/stock/frmstockxubi}">Stock por ubicacion</a></li>
						</ul></li>
					
				</ul>
			</div>
		</div>
	</nav>
	

	
	<footer th:fragment="layout" class="border-top footer text-muted fixed-bottom bg-success" >
  <div class="container d-flex align-items-center justify-content my-2 fw-bolder" style="color: white;">
    <span>Copyright © ADAMA</span>
  </div>
</footer>






</body>
</html>