<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="layout::head">
<meta charset="UTF-8">
<link th:href="@{/css/custom.css}" rel="stylesheet">
</head>
<body>
	<section class="vh-100">
		<div class="container-fluid">
			<div class="row">
				<div class="col-sm-6 text-black">

					<div class="px-5 ms-xl-4">
						<i class='fa fa-leaf  fa-2x me-3 pt-5 mt-xl-4 text-success'></i> <span
							class="h1 fw-bold mb-0">ADAMA</span>
					</div>

					<div
						class="d-flex align-items-center h-custom-2 px-5 ms-xl-4 mt-5 pt-5 pt-xl-0 mt-xl-n5">

						<form style="margin-top: 50px">
							<div class="form-outline mb-4">
								<input type="email" id="txtusuario"
									class="form-control form-control-lg" /> <label
									class="form-label" for="form2Example18">Correo</label>
							</div>

							<div class="form-outline mb-4">
								<input type="password" id="txtpassword"
									class="form-control form-control-lg" /> <label
									class="form-label" for="form2Example28">Contraseña</label>
							</div>

							<div class="pt-1 mb-4">
								<button class="btn btn-success btn-lg btn-block" onclick="login()"
									type="button">INGRESAR</button>
							</div>
							<p>
								No tienes una cuenta? <a href="#!"
									class="link-info text-success">Registrate aquì</a>
							</p>

						</form>

					</div>

				</div>
				<div class="col-sm-6 px-0 d-none d-sm-block">
					<img
						src="https://i.pinimg.com/564x/77/dc/c3/77dcc3b2b5f85f2202decb37ba739432.jpg"
						alt="Login image" class="w-100 vh-100"
						style="object-fit: cover; object-position: left;">
				</div>
			</div>
		</div>
	</section>
</body>
<script th:src="@{/js/login.js}" type="text/javascript"></script>
</html>