<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="layout::head">
<meta charset="UTF-8">
<link th:href="@{/css/custom.css}" rel="stylesheet">
</head>
<body>
	<section class="vh-100">
		<div class="container-fluid">
			<div class="row">
				<div class="col-sm-6 text-black">

					<div class="px-5 ms-xl-4">
						<i class='fa fa-leaf  fa-2x me-3 pt-5 mt-xl-4 text-success'></i> <span
							class="h1 fw-bold mb-0">ADAMA</span>
					</div>

					<div
						class="d-flex align-items-center h-custom-2 px-5 ms-xl-4 mt-5 pt-5 pt-xl-0 mt-xl-n5">

						<form
							style="margin-top: 50px; display: flex; flex-wrap: wrap; flex-direction: row-reverse; align-content: stretch; justify-content: space-between;">
							<div class="form-outline col-5 mb-4">
								<label class="form-label" for="form2Example28">Nombre(s)</label>
								<input type="password" id="form2Example28"
									class="form-control form-control-lg" />
							</div>


							<div class="form-outline col-5 mb-4">
								<label class="form-label" for="form2Example28">Apellido(s)</label>
								<input type="password" id="form2Example28"
									class="form-control form-control-lg" />
							</div>


							<div class="form-outline col-5 mb-4">
								<label class="form-label" for="form2Example18">Correo</label> <input
									type="email" id="form2Example18"
									class="form-control form-control-lg" />
							</div>
							<div class="form-outline col-5 mb-4">
								<label class="form-label" for="form2Example28">Contraseña</label>
								<input type="password" id="form2Example28"
									class="form-control form-control-lg" />
							</div>

							<div class="pt-1 col-12 mb-12">
								<button class="btn btn-success btn-lg btn-block" type="button">Registrar
								</button>
							</div>

							<div class="pt-1 col-12 mb-12">
								>
								<p>
									¿Ya tienes una cuenta ? <a href="#!"
										class="link-info text-success">Ingresa aquì</a>
								</p>
							</div>

						</form>

					</div>

				</div>
				<div class="col-sm-6 px-0 d-none d-sm-block">
					<img
						src="https://i.pinimg.com/564x/f3/aa/9f/f3aa9f07403dbae03d47edfccb2ea30d.jpg"
						alt="Login image" class="w-100 vh-100"
						style="object-fit: cover; object-position: left;">
				</div>
			</div>
		</div>
	</section>
</body>
</html>